name: Build Docker image and push to registry

on:
  push:
    branches:
      - master
    paths:
      - 'src/**'
      - 'Dockerfile'

  pull_request:
    branches:
      - master

jobs:
  build-image:
    runs-on: self-hosted
    outputs:
      image_tag_ts: ${{ steps.img_build.outputs.IMAGE_TAG_TS }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate randomization for image tag
        id: img_build
        run: |
          echo "IMAGE_TAG_TS=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
          echo "IMAGE_TAG_TS=$(date +%Y%m%d%H%M%S)" >> $GITHUB_OUTPUT

      - name: Build docker image
        run: |
          docker build --no-cache -t "devops-test:$IMAGE_TAG_TS" .

  deploy:
    needs: build-image
    runs-on: self-hosted
    steps:
      - name: Check incoming output
        run: |
          ls -l .
          echo "Incoming image tag: ${{needs.build-image.outputs.image_tag_ts}}"

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Push images to the registry
        run: |
          docker tag "devops-test:${{needs.build-image.outputs.image_tag_ts}}" "rminol/devops-test:${{needs.build-image.outputs.image_tag_ts}}"
          docker tag "devops-test:${{needs.build-image.outputs.image_tag_ts}}" "rminol/devops-test:latest"
          docker push "rminol/devops-test:${{needs.build-image.outputs.image_tag_ts}}"
          docker push "rminol/devops-test:latest"
