name: Build Docker image and push to registry

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests
        run: ls -l .

  # deploy:
  #   needs: build-and-test # This job depends on the 'build-and-test' job
  #   runs-on: ubuntu-latest
  #   if: github.ref == 'refs/heads/main' # Only deploy on pushes to main branch
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Deploy to production
  #       run: echo "Deploying to production..."
  #       # Add your deployment commands here (e.g., using a specific deployment action)
